<% provide(:title, t('quote')) %>
<% provide(:subtitle, 'Liste') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t('listing quotes').titleize %></h2>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
              <th><%= t('project').titleize %></th>
              <th><%= t('user').titleize %></th>
              <th><%= 'Total HT' %></th>
              <th><%= 'Mise à jour' %></th>
              <th></th>
        </tr>
      </thead>

      <tbody>
        <% @quotes.each do |quote| %>
          <tr>
                <td><%= "#{quote.project.id} |  #{quote.project.customer.fullname if quote.project.customer.present? }" %></td>
                <td><%= quote.user.display_fullname if quote.user.present? %></td>
                <td><%= number_to_currency(quote.product.product_price, locale: :fr) %></td>
                <td><%= quote.updated_at.strftime("%m/%d/%y - %H:%M") %></td>
                <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                quote
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_quote_path(quote)
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                quote,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @quotes.total_pages > 1 %>
      <nav aria-label="Page navigation" class="text-center">
        <%= paginate @quotes, window: 1, outer_window: 1 %>
      </nav>
    <% end %>

    <br>

    <%= link_to "Nouveau #{t('quote')}", new_quote_path, class: 'btn btn-default' %>
  </div>
</div>