<% provide(:title, t('quote')) %>
<% provide(:subtitle, 'Création') %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for(@quote,  wrapper: :horizontal_form) do |f| %>
        <%= f.error_notification %>
        <div class="form-horizontal">
          <div class="form-inputs">
            <%= f.association :project,
                              label: t('project').titleize,
                              selected: params[:project] %>
            <%= f.association :product,
                              collection: @default_products,
                              selected: params[:select_product],
                              include_blank: false %>
          </div>
          <hr>
          <div id="product-show"></div>
          <hr>
          <div class="form-actions">
            <%= f.submit 'Créer avec ce produit' %>
            <a href="#" class="btn btn-default" id="new-product">Créer un nouveau produit à partir de celui ci</a>
            <%= link_to('Retour', quotes_path, class: 'btn btn-default pull-right') %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<script>

  var $productSelect = $('#quote_product_id');

  // Show du product
  function loadProductShow() {
      var selectId = $productSelect.val();
      console.log('Charge le produit '+selectId)
      $.ajax({
          url: '<%= products_path%>/'+selectId,
          dataType: 'script'
      });
  }
  $productSelect.on('change', loadProductShow);
  loadProductShow();

  // Création d'une copie du product selectionner
  $('#new-product').on('click', function(e){
      e.preventDefault();
      var selectId = $productSelect.val();
      document.location = '<%= new_product_path %>?product_model_id='+selectId;
  })

</script>