<% provide(:title, t('Payment State')) %>
<% provide(:subtitle, 'Liste') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t 'Listing Payment States' %></h2>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
              <th><%= t 'Name' %></th>
              <th><%= t 'Value' %></th>
              <th></th>
        </tr>
      </thead>

      <tbody>
        <% @payment_states.each do |payment_state| %>
          <tr>
                <td><%= t payment_state.name %></td>
                <td><%= number_to_percentage(payment_state.value*100, precision: 0 ) %></td>
                <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                payment_state
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_payment_state_path(payment_state)
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                payment_state,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Nouveau #{t('Payment state')}", new_payment_state_path, class: 'btn btn-default' %>
  </div>
</div>