<div class="panel panel-default">
  <div class="panel-heading">
    Fournisseurs correspondants
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th><%= t('name').titleize %></th>
          <th><%= 'Reference' %></th>
          <th><%= 'Prix HT' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @suppliers.each do |ac| %>
          <% as = ac.articles_suppliers.where(supplier_id: ac.id, article_id: @article.id).first %>
          <tr>
                <td><%= "#{ac.id} | #{ac.name}" %></td>
                <td><%= as.supplier_reference %></td>
                <td><%= number_to_currency(as.price, locale: :fr) %></td>
                <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                ac
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_supplier_path(ac)
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                ac,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>