<%= simple_form_for(@article,  wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <div class="form-horizontal">
    <div class="form-inputs">
      <% disabled = (action == :show) ? true : false %>
      <%= f.input :name, input_html: { disabled: disabled } %>
      <%= f.association :article_group, label: t('article_group').titleize, input_html: { disabled: disabled } %>
      <%= f.association :value_added_tax, label: 'TVA', input_html: { disabled: disabled } %>
      <%= f.input :reference, input_html: { disabled: disabled } %>
      <%= f.input :description, input_html: { disabled: disabled } %>
      <%= f.association :suppliers, label: 'Fournisseur' %> 
      <%= f.input :unit_category,
                  as: :fake_select,
                  collection: UnitCategory.all,
                  selected: "#{@unit.nil? ? UnitCategory.first : @unit.unit_category.id }",
                  label: "Catégorie d'unité",
                  input_html: {
                      'data-remote': true,
                      'data-url': units_path,
                      format: :json
                  }
      %>
      <%#= simple_fields_for 'articles_units_attributes[]', @article_unit, wrapper: :horizontal_form do |au| %>
      <%= simple_fields_for 'articles_units', wrapper: :horizontal_form do |au| %>
        <%= au.input  :unit_id,
                      collection: @units,
                      selected: @unit,
                      label: 'Unité'
        %>
        <%= au.input :value, input_html: {value: "#{@article_unit ? @article_unit.value : ''}" } %>
      <% end %>
    </div>
    
    <div class="form-actions">
      <% if action == :new %>
          <%= f.submit 'Créer' %>
      <% end %>
      <% if action == :edit %>
          <%= f.submit 'Mettre à jour' %>
      <% end %>
      <%= link_to('Retour', articles_path, class: 'btn btn-default pull-right') %>
    </div>
  </div>
<% end %>