<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Derniers fournisseurs</h2>
  </div>
  
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th><%= 'Nom' %></th>
          <th><%= 'Nb. produits' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @last_supplier.each do |supplier| %>
          <tr>
            <td><%= supplier.name %></td>
            <td><%= count_article_in_supplier(supplier.id) %></td>
            <td class="text-right">
            <%= link_to(
              raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
              supplier
              )
            %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>