<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Derniers devis</h2>
  </div>
  
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th><%= 'Num.' %></th>
          <th><%= 'Date MAJ' %></th>
          <th><%= 'Projet' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @last_quotes.each do |lq| %>
          <% p=Project.find(lq.project_id) %>
          <tr>
            <td><%= lq.id %></td>
            <td><%= format_date(lq.updated_at) %></td>
            <td><%= p.id %> | <%= Customer.find(p.id).fullname %></td>
            <td class="text-right">
              <%= link_to(raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'), lq) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>