<% provide(:title, "Achats") %>

<div class="row" id="controller-<%= params[:controller] %>">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <%# Partie Gauche : Menu %>
        <%= render 'menu' %>
      </div>
      <div class="col-md-10">
        <%# Partie Droite : Interface achats %>
        
        <div class="panel panel-default">
        <div class="panel-heading">
          <p><%= @interfaceTitle %></p>
        </div>
        <div class="panel-body">

          <% case params[:cat] %>
          <%   when 'suppliers' %>
          <%=     render 'suppliers' %>
          <%      provide(:subtitle, 'Fournisseurs') %>
          <%   when 'articles' %>
          <%=     render 'articles' %>
          <%      provide(:subtitle, 'Articles') %>
          <%   when 'orders' %>
          <%=     render 'orders' %>
          <%      provide(:subtitle, 'Commandes') %>
          <%   when 'quotes' %>
          <%=     render 'quotes' %>
          <%       provide(:subtitle, 'Devis') %>
          <%   else %>
          <%=     "Bienvenue sur l'accueil du service achats!" %>
          <%       provide(:subtitle, 'Accueil') %>
          <% end %>
      
        </div>
      </div>        
        
      </div>
    </div>
  </div>
<div>
