<!-- Modal -->
<div class="modal fade" id="edit-order-item" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<div class="panel panel-default">

  <div class="panel-heading">
    Contenu de la commande
  </div>

  <div class="panel-body">

    <% if action_name == 'edit' %>
      <%= link_to(
              'Ajouter article',
              new_order_item_supplier_path(@order),
              remote: true,
              class: "btn btn-default"
          ) %>
    <% end %>

    <div class="table-responsive">
      <table>

        <thead>
        <tr>
          <th><%= 'Nom' %></th>
          <th><%= 'Référence Fournisseur' %></th>
          <th><%= 'Qté.' %></th>
          <th><%= 'Prix unit.' %></th>
          <th><%= 'Total HT' %></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @order_items.each do |oi| %>
            <% as = oi.articles_supplier %>
            <% art = as.article %>
            <tr>
              <td><%= art.name %></td>
              <td><%= as.supplier_reference %></td>
              <td><%= "%g" % oi.quantity %></td>
              <td><%= as.price %></td>
              <td><%= oi.quantity * as.price %></td>
              <td class="text-right">
                <%= link_to(
                  raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                  oi
                ) %>
                <% unless @order.effective? || action != :edit %>
                  |
                  <%= link_to(
                          raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                          edit_order_item_path(oi),
                          remote: true
                      ) %>
                  |
                 <%= link_to(
                    raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                    order_item_path(oi),
                    method: :delete,
                    data: { confirm: "Suppression de l'article, voulez-vous continuer?" }) %>
                  <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>

        <tfoot>
          <td>Totaux :</td>
          <td></td>
          <td><%= @order.items_quantity %></td>
          <td></td>
          <td><%= number_to_currency(@order.total_price) %></td>
          <td></td>
        </tfoot>

      </table>
    </div>


  </div>

</div>