<% provide(:title, t('order')) %>
<% provide(:subtitle, 'Liste') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t('listing orders').titleize %></h2>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th><%= t('quote').titleize %></th>
          <th><%= t('supplier').titleize %></th>
          <th><%= "Nb. d'articles" %></th>
          <th><%= 'Total' %></th>
          <th><%= 'Date' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.quote.id %></td>
            <td><%= order.supplier.name %></td>
            <td><%= get_total_items(order.id) %></td>
            <td><%= get_total_price(order.id) %></td>
            <td><%= format_date(order.updated_at) %></td>
            <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                order
              ) %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_order_path(order)
              ) %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                order,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Nouvelle #{t('order')}", new_order_path, class: 'btn btn-default' %>
  </div>
</div>