<% provide(:title, t('Order')) %>
<% provide(:subtitle, 'Liste') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t 'Listing Orders' %></h2>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
              <th><%= t 'Total due calc' %></th>
              <th><%= t 'Supplier' %></th>
              <th><%= t 'Quote' %></th>
              <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
                <td><%= t order.total_due_calc %></td>
                <td><%= t order.supplier %></td>
                <td><%= t order.quote %></td>
                <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                order
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_order_path(order)
              )
              %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                order,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Nouveau #{t('Order')}", new_order_path, class: 'btn btn-default' %>
  </div>
</div>