<div class="panel panel-default">
  <div class="panel-heading">
    Devis correspondants
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
          <th><%= 'Devis N°' %></th>
          <th><%= 'Auteur' %></th>
          <th><%= 'Mis à jour' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @quotes.each do |quote| %>
        <tr>
          <td><%= quote.id %></td>
          <td><%= quote.user.lastname %></td>
          <td><%= format_date(quote.updated_at) %></td>
          <td class="text-right">
            <%= link_to(
              raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
              quote
              )
            %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Ajouter un devis au projet', new_quote_path(project: @project), class: 'btn btn-primary' %>
  </div>
</div>
