<% provide(:title, t('projects').titleize) %>
<% provide(:subtitle, 'Accueil') %>

<div class="panel panel-default">
  
  <div class="panel-heading">
	  <ul class="nav nav-pills nav-justified">
	    <li class="panel-title"><%= t('listing projects').titleize %></li>
			  
			  <li>
          <%= form_tag(projects_path, method: "get", :class => "form-inline") do %>
            <%= label_tag(:like, "Filtrer les résultats : ") %>
            <%= text_field_tag(:like, value = params[:like], :placeholder => "Prénom ou Nom") %>
            <%= select_tag(:sort, options_for_select(
              [
               ['Tri',0,disabled:true],
               ['Nom de client A-Z', 'nameAZ'],
               ['Nom de client Z-A', 'nameZA'],
               ['Numéro de projet 0-N', 'id0N'],
               ['Numéro de projet N-0', 'idN0'],
               ['Plus récent', 'dateON'],
               ['Plus ancient', 'dateNO']
              ],  params[:sort] || 0
              )) %>
            
            <%= submit_tag("Filtrer", name: nil) %>
          <% end %>
			  </li>
				
		  </ul>
  </div>

  <div class="panel-body">
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Num. projet</th>
          <th>Nom client</th>
          <th>Description</th>
        </tr>

        <% @projects.each do |p| %>
          <tr>
            <td><%= format_date(p.created_at) %></td>
            <td><%= link_to p.id, project_path(p.id) %></td>
            <td><%= p.customer.fullname %></td>
            <td><%= truncate(p.description) %></td>
          </tr>
        <% end %>
      </table>
      <% if @projects.total_pages > 1 %>
        <nav aria-label="Page navigation" class="text-center">
          <%= paginate @projects, window: 1, outer_window: 1 %>
        </nav>
      <% end %>

  </div>
</div>

