<% provide(:title, t('projects').titleize) %>
<% provide(:subtitle, 'Accueil') %>

<div class="panel panel-default">
  
  <div class="panel-heading">
	  <ul class="nav nav-pills nav-justified">
	    <li class="panel-title"><%= t('listing projects').titleize %></li>
			  
			  <li>
          <%= form_tag(projects_path, method: "get", :class => "form-inline") do %>
            <%= label_tag(:like, "Filtrer les résultats : ") %>
            <%= text_field_tag(:like, value = params[:like], :placeholder => "Prénom ou Nom") %>
            <%= select_tag(:sort, options_for_select(
              [
               ['Tri',0,disabled:true],
               ['Nom de client A-Z', 'nameAZ'],
               ['Nom de client Z-A', 'nameZA'],
               ['Numéro de projet 0-N', 'id0N'],
               ['Numéro de projet N-0', 'idN0'],
               ['Plus récent', 'dateON'],
               ['Plus ancient', 'dateNO']
              ],  params[:sort] || 0
              )) %>
            
            <%= submit_tag("Filtrer", name: nil) %>
          <% end %>
			  </li>
				
		  </ul>
  </div>

  <div class="panel-body">
      <table class="table">
        <tr>
          <th>Date</th>
          <th>Num. projet</th>
          <th>Nom client</th>
          <th>Description</th>
          <th></th>
        </tr>

        <% @projects.each do |project| %>
          <tr>
            <td><%= format_date(project.created_at) %></td>
            <td><%= link_to project.id, project_path(project.id) %></td>
            <td><%= project.customer.fullname %></td>
            <td><%= truncate(project.description) %></td>
            <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                project
              ) %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_project_path(project)
              ) %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                project,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>
            </td>
          </tr>
        <% end %>
      </table>
      <% if @projects.total_pages > 1 %>
        <nav aria-label="Page navigation" class="text-center">
          <%= paginate @projects, window: 1, outer_window: 1 %>
        </nav>
      <% end %>
      
      <br />
      
      <%= link_to "Nouveau #{t('project')}", new_project_path, class: 'btn btn-default' %>

  </div>
</div>