<div class="panel panel-default">
  <div class="panel-heading">
    
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'Créer projet', new_project_path, class: 'btn btn-primary' %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= link_to 'Créer client', '#', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">Devis récents :</div>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Num. projet</th>
              <th>Nom client</th>
            </tr>
          </thead>
          <tbody>
          <% @projects_menu.each do |p| %>
            <tr>
              <td><%= format_date(p.created_at) %></td>
              <td><%= link_to p.id, project_path(p.id) %></td>
              <td><%= p.customer.fullname %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>