<%% provide(:title, t('<%= singular_table_name.titleize %>')) %>
<%% provide(:subtitle, 'Liste') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%%= t 'Listing <%= plural_table_name.titleize %>' %></h2>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
          <th><%= attribute.human_name %></th>
    <% end -%>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
          <tr>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
            <td class="text-right">
              <%%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                <%= singular_table_name %>
              )
              %>
              |
              <%%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
              )
              %>
              |
              <%%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                <%= singular_table_name %>,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>
              
            </td>
          </tr>
        <%% end %>
      </tbody>
    </table>

    <br>

    <%%= link_to t('Nouveau <%= human_name %>'), new_<%= singular_table_name %>_path, class: 'btn btn-default' %>
  </div>
</div>