<%= simple_form_for(@product, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-3">
      <% unless @product.drawing.nil? %>
        <figure>
          <img src="<%= image_url(@product.drawing.file_path) %>" class="img-responsive" alt="coupe de principe" width="300">
          <figcaption>Coupe : <%= @product.drawing.file_path %></figcaption>
        </figure>
      <% end %>
    </div>

    <div class="col-md-8 form-horizontal">
      <div class="form-inputs">
        <%= hidden_field :redirect, :address, value: @redirect_url %>
        <%= f.input :name %>
        <%= f.input :descriptif %>
        <% if current_user.has_role? :conceptor %>
          <%= f.input :cctp_reference %>
          <%= f.input :default, as: :select, label: 'Module par defaut' %>
        <% end %>
        <%= f.association :drawing, collection: Drawing.where(drawing_type: 1), label: 'Coupe de principe' %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <h3>Associer des modules :</h3>
      <div class="form-horizontal">
        <div class="form-inputs">
          <div id="modules-container"></div>
        </div>
      </div>
      <a href="#"
         class="btn btn-primary pull-right"
         id="add-module-btn">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
      <a href="#"
         class="btn btn-danger pull-right"
         id="rm-module-btn">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <% am = @modules_product %>
  <%= f.input :house_module_ids, as: :hidden, input_html: {value: am.nil? ? "" : am.pluck(:id).join(', ') } %>
  <div class="form-actions">
    <% submit_label = (action == :new ? 'Créer' : 'Mettre à jour') %>
    <%= f.submit submit_label  %>
    <%= link_to('Retour', :back, class: 'btn btn-default pull-right') %>
  </div>

<% end %>


<script>
    var position = 0;
    var valuesTab = [];

    function updateHidden() {
        $('#house_module_article_ids').val(valuesTab);
    }

    function addValueToValuesTab() {
        var $select = $(this);
        var value = $select.val();
        var index = $select.parent().parent().index();
        console.log('value: '+value+', index :'+index);
        valuesTab[index]=value;
        updateHidden();
    }

    function addSelect(select) {
        position++;
        $selectContainer.append(displaySelect(position));
        if (select != 0 ) {
            $('#house_module_select_'+position+' option:first-child').prop('selected', false);
            $('#house_module_select_'+position+' option:eq('+select+')').prop('selected', true);
        }
        $selectContainer.find('.house_module-select').last().find('select').on('change', addValueToValuesTab);
    }

    function removeLastSelect() {
        $selectContainer.find('.house_module-select').last().remove();
        valuesTab.pop();
        updateHidden();
    }

    function displaySelect(position) {
        return '<div class="form-group house_module-select">' +
            '           <label class="col-sm-3 control-label" for="article_select_'+position+'">Article n°'+position+'</label>' +
            '             <div class="col-sm-9">' +
            '               <select class="form-control" name="article_select_'+position+'" id="article_select_'+position+'">' +
            '                 <option disabled value selected> -- choisir un article -- </option>' +
            <% HouseModule.all.each do |a| %>
            '                   <option value="<%= a.id %>"><%= a.name %></option>' +
            <% end %>
            '               </select>' +
            '             </div>' +
            '           </div>';
    }

    var $selectContainer = $('#modules-container');
    $('#add-module-btn').on('click', function(e) {
        e.preventDefault();
        addSelect(0);
    });
    $('#rm-module-btn').on('click', function(e) {
        e.preventDefault();
        position--;
        removeLastSelect();
    });

    <% unless @modules_product.nil? %>
      <% @modules_product.each do |am| %>
        <% if am.house_module %>
          addSelect(<%= am.house_module.id %>);
        <% end %>
      <% end %>
      valuesTab = $('#house_module_article_ids').val().split(' ');

    <% end %>

</script>