<div class="row">
  <div class="col-md-3">
    <% unless @product.drawing.nil? %>
      <figure>
        <img src="<%= image_url(@product.drawing.file_path) %>" class="img-responsive" alt="coupe de principe" width="300">
        <figcaption>
          Coupe : <%= @product.drawing.file_path %>
        </figcaption>
      </figure>
    <% end %>
  </div>

  <div class="col-md-9 form-horizontal">
    <div class="form-inputs">
      <div class="form-group select optional quote_product">
        <label class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
          <%= text_field_tag :name, @product.name, disabled: true %>
        </div>
      </div>
      <div class="form-group select optional quote_product">
        <label class="col-sm-2 control-label">Descriptif</label>
        <div class="col-sm-10">
          <%= text_field_tag :descriptif, @product.descriptif, disabled: true %>
        </div>
      </div>
      <div class="form-group select optional quote_product">
        <label class="col-sm-2 control-label">État</label>
        <div class="col-sm-10">
          <%= text_field_tag :status, @product.product_state.name, disabled: true %>
        </div>
      </div>
      <div class="form-group select optional quote_product">
        <label class="col-sm-2 control-label">Coupe</label>
        <div class="col-sm-10">
          <%= text_field_tag :drawing, @product.drawing.to_label, disabled: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <h3>Modules associés au produit :
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseModules" aria-expanded="false" aria-controls="collapseModules">
        Afficher
      </button>
    </h3>

    <div class="collapse form-horizontal" id="collapseModules">
      <div class="form-inputs">
        <% @modules_product.each do |mp| %>
            <div class="form-group">
              <label class="col-sm-3 control-label">
                <%= link_to(
                    raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                    mp.product
                ) %>
                Module <%= mp.house_module.id %></label>
              <div class="col-sm-9">
                <p class="form-control-static"><%= mp.house_module.name %></p>

              </div>
            </div>
        <% end %>
      </div>
    </div>
    <h4>Prix Total des modules (€ HT)</h4>
    <p><%= number_to_currency(@product.product_price, locale: :fr) %></p>
  </div>
</div>
