<% provide(:title, t(:product).titleize) %>
<% provide(:subtitle, 'Liste') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= t 'Listing products' %></h2>
  </div>
  <div class="panel-body">
    <table>
      <thead>
        <tr>
              <th><%= 'Nom' %></th>
              <th><%= 'Descriptif' %></th>
              <th><%= 'Ref. CCTP' %></th>
              <th><%= 'Par Defaut' %></th>
              <th></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
              <td><%= product.name %></td>
              <td><%= product.descriptif %></td>
              <td><%= product.cctp_reference %></td>
              <td><%= product.default ? 'x' : '' %></td>
              <td class="text-right">
              <%= link_to(
                raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'),
                product
              ) %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>'),
                edit_product_path(product)
              ) %>
              |
              <%= link_to(
                raw('<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>'),
                product,
                method: :delete, data: { confirm: 'Êtes vous certain ?' }
              ) %>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Nouveau #{t('product').downcase}", new_product_path, class: 'btn btn-default' %>
  </div>
</div>