<% provide(:title, t(:product).titleize ) %>
<% provide(:subtitle, 'Création') %>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="Effacer">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Êtes vous certain ?</h4>
      </div>
      <div class="modal-body">
        Êtes vous certain de vouloir effacer cet élément ?
      </div>
      <div class="modal-footer">
        <%= link_to 'Effacer',  @product,  method: :delete, class: 'btn btn-danger' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= simple_form_for(@product, wrapper: :horizontal_form) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          <div class="col-md-3">
            <% unless @product.drawing.nil? %>
              <div class="container">
                <p>Coupe : <%= @product.drawing.file_path %></p>                  
                <img src="<%= image_url(@product.drawing.file_path) %>" class="img-responsive" alt="coupe de principe" width="300">
              </div>
            <% end %>
          </div>

          <div class="col-md-8 form-horizontal">
            <div class="form-inputs">
              <%= f.input :name, input_html: {disabled: true} %>
              <%= f.input :descriptif, input_html: {disabled: true} %>
              <%= f.input :cctp_reference, input_html: {disabled: true} %>
              <%= f.input :default, as: :select, label: "Module par defaut", input_html: {disabled: true} %>
              <%= f.association :drawing, label: "Coupe de principe", input_html: {disabled: true} %>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>


        <div class="row">
          <div class="col-md-8 col-md-offset-3">
            <h3>Articles associés au module :</h3>
            <div class="form-horizontal">
              <div class="form-inputs">
                <% @modules_product.each do |mp| %>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Module <%= mp.house_module.id %></label>
                    <div class="col-sm-9">
                      <p class="form-control-static"><%= mp.house_module.name %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <h4>Prix Total des modules (€ HT)</h4>
            <p><%= number_to_currency(@product.product_price, locale: :fr) %></p>
          </div>
        </div>

        <div class="form-actions">
          <%= link_to('Retour', product_path, class: 'btn btn-default pull-right') %>
        </div>

    <% end %>
    <a href="<%= edit_product_path %>" class="btn btn-primary">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span>
      Editer
    </a>
    <button class="btn-danger" data-toggle="modal" data-target="#delete">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
      Supprimer
    </button>
  </div>
</div>

<%= render 'quotes', action: :show %>