<%= simple_form_for(@house_module,  wrapper: :horizontal_form) do |f| %> 
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-3">
      <img src="<%= image_url('wall_module') %>" class="img-responsive" alt="">
    </div>
    
    <div class="col-md-8 form-horizontal">
      <div class="form-inputs">
        <% disabled = (action == :show) ? true : false %>
        <%= f.input :name, input_html: { disabled: disabled } %>
        <%= f.input :description, input_html: { disabled: disabled } %>
        <%= f.association :module_range, label: "Gamme", input_html: { disabled: disabled } %>
        <%= f.input :default, as: :select, label: "Module par defaut", input_html: { disabled: disabled } %>
        <%#= f.association :layout, input_html: { disabled: disabled } %>
        <%= f.association :drawing, label: "Coupe de principe", input_html: { disabled: disabled } %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    

    <div class="col-md-12">
      <h3>Articles associés au module :</h3>
      
      Select boxes here
      
      <%= f.association :articles, label: "Test" %>
      
    </div>
    
  </div>
<% end %>