<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= 'Menu' %></h2>
  </div>
  <div class="list-group">
    <%= menu_item('Accueil Commerciaux', commercials_path, :index, :commercial, :commercial) %>
    <%= menu_item('Accueil Achats', purchases_path, :index, :purchase, :purchase) %>
    <%= menu_item('Projets', projects_path, :index, Project) %>
    <%= menu_item('Fournisseurs', suppliers_path, :index, Supplier) %>
    <%= menu_item('Articles', articles_path, :index, Article) %>
    <%= menu_item('Devis', quotes_path, :index, Quote) %>
    <%= menu_item('Commandes',orders_path, :index, Order) %>
  </div>
  
</div>