<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= 'Menu' %></h2>
  </div>
  <%#= "Debug : #{params[:controller]}" %>
  <div class="list-group">
    <%= link_to 'Accueil Commerciaux', commercials_path , class: get_list_group_item(nil, 'commercials') %>
    <%= link_to 'Accueil Achats', purchases_path , class: get_list_group_item(nil, 'purchases') %>
    <%= link_to 'Projets', projects_path , class: get_list_group_item(Project, 'projects') %>
    <%= link_to 'Fournisseurs', suppliers_path , class: get_list_group_item(Supplier, 'suppliers') %>
    <%= link_to 'Articles', articles_path, class: get_list_group_item(Article, 'articles') %>
    <%= link_to 'Devis', quotes_path, class: get_list_group_item(Quote, 'quotes') %>
    <%= link_to 'Commandes', orders_path, class: get_list_group_item(Order, 'orders') %>
  </div>
  
</div>