<div class="panel panel-default">
  <div class="panel-heading">
    <p>MENU</p>
  </div>
  <div class="panel-body" id="application-menu">
    <ul>
      <li><%= link_to 'Accueil', purchases_path , class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Fournisseurs', suppliers_path , class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Articles', articles_path, class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Devis', quotes_path, class: 'btn btn-primary center-block' %></li>
      <li><%= link_to 'Commandes', orders_path, class: 'btn btn-primary center-block' %></li>
    </ul>
  </div>
</div>