<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "ie" %>
  <![endif]-->
</head>
<body>

<%= render 'layouts/header' %>

<% if alert %>
  <div class="container">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><strong>Erreur :</strong> <%= alert %></p>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
